application/configs/old/*
application/configs/frontend.php
application/configs/admin.php
tests/*
nbproject/*
public/frontend/files/articles/*
public/frontend/files/images/*
public/frontend/files/slider/*
public/frontend/files/thumbs/*
public/frontend/files/thumbs-frontend/*
reports/*