/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-02-01, 14:36:12
    Author     : rnest
*/

body{
    background: #ffffff;
}

.foot {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
}

.head {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 20%;
    background: #ccccff;
    box-shadow: inset 0px -5px 5px #999999;
    padding: 10px;
}

.content {
    position: absolute;
    top: 21%;
    width: 100%;
    min-height: 20%;
}

.logged-info {
    background: #999999;
    border: 1px solid #003333;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.logged-info p {
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
}

.logout-btn {
    margin-bottom: 20px;
    margin-top: 20px;
}

.left-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccccff;
    margin-left: 10px;
}

.right-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #009999;
    border-radius: 5px;
}

.table {
    text-align: center;
}

.form-errors {
    color: red;
    font-size: 10px;
}

.form-messages {
    color: red;
}

.invisible {
    display: none;
}

.modal-visible {
    display: block;
    background: red;
    position: absolute;
    top: 200px;
    left: 20%;
    width: 60%;
    height: 100px;
    border: 2px solid black;
    z-index: 9999;
}

.relatedElem {
    border: #666666;
    border-radius: 3px;
    background: #ccccff;
    padding: 5px;
    margin: 5px;
    float: left;
}

.reports-container {
    padding: 10px;
    background: #ccccff;
    border: 1px solid #ff99ff;
    height: 500px;
    overflow: auto;
}

.form-custom-file {
    margin-top: 20px;
    position: relative;
    text-align: right;
    z-index: 2;
}

/*modal window*/

#modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal-modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    //background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#modal-content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#modal-close {
    position:absolute;
    background:url(/files/app/close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

// iframe image-processor
#image-process-iframe {
    
}

.iframe-wrapper {
    box-shadow: 1px 1px 2px #666666;
    border-radius: 5px;
    padding: 10px;
}






