
/* 
    Created on : 2015-02-01, 14:36:12
    Author     : rnest
*/

body{
    background: white !important;
    color: #666666;
}

a:link {
    text-decoration: none;
    color: #4b75ff;
}

a:hover {
    text-decoration: none;
    color: #3333ff;
}


h1, h2, h3, h4 {
    color: #333333;
}
.head {
    background: #ccccff !important;
    box-shadow: inset 0px 5px 5px #999999;
    padding: 10px;
}


.content {
    position: absolute;
    top: 21%;
    width: 100%;
    min-height: 20%;
}

.form-messages {
    color: whitesmoke;
    font-size: 12px;
    padding: 5px;
    background: #d40e26;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.form-errors {
    color: red;
    font-size: 10px;
}

.header-info {
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
}

.logged-info p {
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}

.logout-btn {
    margin-bottom: 20px;
    margin-top: 20px;
}

.shadowed {
    text-shadow: 0.05em 0.05em 0.05em #666666;
}

.article-title {

}

.article-subtitle {
    text-align: justify;
}

/*style pojedynczego artykulu*/

.wrapper {
    margin-top: 20px;
}

.article-label {
    position: absolute;
    width: 33%;
    left: 0;
    top: 0;
    text-align: center;
    background: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}


.img-wrapper {
    position: relative;
}

.title {
    position: absolute;
    left: 25%;
    top: 30%;
    padding: 10px;
    width: 50%;
    background: whitesmoke;
    text-align: center;
    padding: 10px;
    border-radius: 46%;
    display: none;
}

.grey-smog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #cccccc;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.not-smog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: none;
}

.pagination-index {
    text-align: center;
}

.opacity-50 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}

.opacity-30 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

    /* IE 5-7 */
    filter: alpha(opacity=30);

    /* Netscape */
    -moz-opacity: 0.3;

    /* Safari 1.x */
    -khtml-opacity: 0.3;

    /* Good browsers */
    opacity: 0.3;
}

.opacity-70 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;
}

.comments-text {

}

.comments-textarea {

}


.comments-textarea-output {
    width: 100%;
    text-align: left;
    padding: 5px;
    white-space: normal;
    font-size: 12px;
    border-radius: 3px;
    border: 0.25em solid #ccccff;
    //box-shadow: 0.25em 0.25em 0.25em 0.08em #ccccff;
}

.comments-ajax-iframe {
    background: #cccccc;
    border-radius: 5px;
    border: 1px solid #ccccff;
}

.pagination-box {
    position: relative;
    margin: 0 auto;
}

#cookies {
    border-top: 1px solid black;
    background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cookies {

}

/*okienko modalne*/

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333333;
    z-index: 999;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


